# Mac stuff, ignore
.DS_Store

# Eclipse stuff, should be for each developer, so, ignore
.classpath
.project
.settings

# node_modules
node_modules/

# since we use Maven, ant buil.xml will be private for each developers
#  (if they need their own scripts to do some stuff)
build.xml

# maven target (we definitely do not want this one in git)
target/

# prevent tmp/ should be for dev db and stuff
tmp/

#ignore dev/ folder
dev/

# all of min.js(by uglify)
min/
# prevent the compiled .js/.css files to be in the SCM
templates.js
*.css
!src/main/webapp/bootstrap/css/*
!src/main/webapp2/app1/bootstrap/css/*
!src/main/webapp/admin/css/common/*
!src/main/webapp2/admin/css/common/*

!src/main/webapp/global/css/vendor/*
!src/main/webapp/ociroom/css/vendor/*
!src/main/webapp2/global/css/vendor/*
# remove intellij stuff
*.iml
.idea/

# Ignore Intellij files
*.sublime-project
*.sublime-workspace

# Ignore JsHint config file
.jshintrc
